In [ ]:
import numpy as np

arr = np.array([1,2,3,4,5,6,7,8,9,10,11,12])

In [ ]:
split_arrays = np.array_split(arr, 4)

In [ ]:
for i in split_arrays:
    print("Array from :", i, "Sum of the array is :", np.sum(i))

Array from : [1 2 3] Sum of the array is : 6
Array from : [4 5 6] Sum of the array is : 15
Array from : [7 8 9] Sum of the array is : 24
Array from : [10 11 12] Sum of the array is : 33

In [1]:
set1 = {0,2,4,6,8,10}

In [2]:
set2 = set([1,2,3,4,5,6,7,8,9,10])

In [4]:
temp = list(set2)

# Remove by index (index 1 and index 4)
del temp[1]
del temp[3]   # index shifts after deletion

set2 = set(temp)
print("following is the Array : ", set2)

following is the Array :  {1, 4, 6, 8, 9, 10}

In [5]:
set3 = set1.intersection(set2)
print(set3)

{8, 10, 4, 6}

In [12]:
students = {
    54257: {"sapid":54257, "name":"Abubakar", "age":20, "Semester":"Six"},
    53102: {"sapid":53102, "name":"Ahmed", "age":21, "Semester":"Six"},
    54103: {"sapid":54103, "name":"Amir", "age":22, "Semester":"Six"},
    55104: {"sapid":55104, "name":"Muqeet", "age":20, "Semester":"Six"},
    56105: {"sapid":56105, "name":"Abdullah", "age":23, "Semester":"Six"}
}

In [11]:
for key in students:
    students[key]["Semester"] = "Seven"

print(students)

{54257: {'sapid': 54257, 'name': 'Abubakar', 'age': 20, 'Semester': 'Seven'}, 53102: {'sapid': 53102, 'name': 'Ahmed', 'age': 21, 'Semester': 'Seven'}, 54103: {'sapid': 54103, 'name': 'Amir', 'age': 22, 'Semester': 'Seven'}, 55104: {'sapid': 55104, 'name': 'Muqeet', 'age': 20, 'Semester': 'Seven'}, 56105: {'sapid': 56105, 'name': 'Abdullah', 'age': 23, 'Semester': 'Seven'}}