In [ ]:
print("Hello World")

Hello World

In [1]:
x = input("Enter your name")
print(x)

Enter your nameAbubakar Awan
Abubakar Awan

In [2]:
name = input("Enter your friends name")
age = input("Enter your friends age")
interest = input("Enter your friends interest")
nationality = input("ENter your friends nationality")

print(name, age, interest, nationality)

Enter your friends nameShabbaz Shairf
Enter your friends age23
Enter your friends interestPiasa
ENter your friends nationalityPakistani
Shabbaz Shairf 23 Piasa Pakistani

In [ ]:
num = int(input("Enter a number: "))

if (num % 2) == 0:
   print("It is Even")
else:
   print("It is Odd")

Enter a number: 3
It is Odd

In [ ]:
15/4

3.75

In [ ]:
15//4

3

In [3]:
def greeting():

  num = int(input("Enter a number: "))

  if (num % 2) == 0:
    print("It is Even")
  else:
    print("It is Odd")

In [4]:
greeting()

Enter a number: 123
It is Odd

In [6]:
def frienddetails():
    name = input("Enter your friends name")
    age = input("Enter your friends age")
    interest = input("Enter your friends interest")
    nationality = input("ENter your friends nationality")
    print(name, age, interest, nationality)
    print(name, age, interest, nationality)
    print(name, age, interest, nationality)
    print(name, age, interest, nationality)
    print(name, age, interest, nationality)

In [7]:
frienddetails()

Enter your friends nameALi
Enter your friends age23
Enter your friends interestpiasa
ENter your friends nationalityPakistani
ALi 23 piasa Pakistani
ALi 23 piasa Pakistani
ALi 23 piasa Pakistani
ALi 23 piasa Pakistani
ALi 23 piasa Pakistani

In [ ]:
greeting = ("Aoa")

for i in range (0,10):
  print(greeting)

Aoa
Aoa
Aoa
Aoa
Aoa
Aoa
Aoa
Aoa
Aoa
Aoa

In [8]:
num = int(input("Enter a number: "))

for i in range(1, 11):
   print(num, "*", i, "=", num * i)

Enter a number: 20
20 * 1 = 20
20 * 2 = 40
20 * 3 = 60
20 * 4 = 80
20 * 5 = 100
20 * 6 = 120
20 * 7 = 140
20 * 8 = 160
20 * 9 = 180
20 * 10 = 200

In [ ]:
def is_prime(n):
    if n == 0 or n == 1:
        return 0
    else:
        for i in range(2, n):
            if n % i == 0:
                return 0
    return 1

In [ ]:
x = int (input("Enter a number"))
if is_prime(x)==0:
    print ("number is not prime")
else :
    print("number is prime")

Enter a number6
number is not prime

In [ ]:
count = 1
for i in range(100):
    if is_prime(i) == 1:
        print(count, "\t", i)
        if count >= 20:
            break
        count += 1

1 	 2
2 	 3
3 	 5
4 	 7
5 	 11
6 	 13
7 	 17
8 	 19
9 	 23
10 	 29
11 	 31
12 	 37
13 	 41
14 	 43
15 	 47
16 	 53
17 	 59
18 	 61
19 	 67
20 	 71

In [ ]:
square = lambda x:x*x*x

In [ ]:
for i in range (10):
  print (square(i))

0
1
8
27
64
125
216
343
512
729